body { padding-top: 50px};

.footer-section {
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid lightgray;
}

@media (min-width: 768px) {
.footer-section {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
}

footer .list-inline li:not(:first-child):not(:last-child) {
border-right: 1px solid lightgray;
}

.navbar-footer {
margin-bottom: 0;
text-align: center;
}

footer .navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
}

.leg-room { margin-bottom: 20px; padding-bottom: 20px; }

.monospaced { font-family: 'Ubuntu Mono', monospaced ; }
